table.royaleTable {
    font-size: 12px;
    color: #333333;
    width: 100%;
    border-width: 1px;
    border-color: #729ea5;
    border-collapse: collapse;
}
table.royaleTable th {
    font-size: 12px;
    background-color: #acc8cc;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #729ea5;
    text-align: left;
    cursor: pointer;
}
table.royaleTable tr {
    background-color: #ffffff;
}
table.royaleTable tr.Común  {
    background-color: #91daf2;
}
table.royaleTable tr.Especial {
        background-color: rgb(255 93 8 / 51%);
}
table.royaleTable tr.Épica  {
  background-color: #ae6ddfd4;
}
table.royaleTable tr.Legendaria {
  background-color: #cacaca;
}
table.royaleTable td {
    font-size: 12px;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #729ea5;
    position: relative;
}
table.royaleTable tr:hover {
    background-color: #ffff99;
}


/* HIDE NEXT LEVEL COLUMN */
.royaleTable tr>th:nth-child(6), 
.royaleTable tr>td:nth-child(6) {
    display: none;
}
.royaleTable tr>th:nth-child(3), 
.royaleTable tr>td:nth-child(3) {
    width: 80px;
    text-align: center;
    font-weight: bold;
}
.royaleTable tr>th:nth-child(4), 
.royaleTable tr>td:nth-child(4) {
    width: 70px;
    text-align: center;
    font-weight: bold;
}
.royaleTable tr>th:nth-child(5), 
.royaleTable tr>td:nth-child(5) {
    width: 70px;
    text-align: center;
    font-weight: bold;
}
.royaleTable tr>th:nth-child(6), 
.royaleTable tr>td:nth-child(6) {
    width: 70px;
    text-align: center;
    font-weight: bold;
}
.royaleTable tr>th:nth-child(7), 
.royaleTable tr>td:nth-child(7) {
    width: 70px;
    text-align: center;
    font-weight: bold;
}
.royaleTable tr>th:nth-child(8), 
.royaleTable tr>td:nth-child(8) {
    width: 90px;
    text-align: center;
    font-weight: bold;
}
.royaleTable tr>th:nth-child(9), 
.royaleTable tr>td:nth-child(9) {
    width: 290px;
    text-align: center;
    font-weight: bold;
}
/*  SAMPLES TABLE */
table.GeneratedTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  padding: 3px;
}
table.GeneratedTable th {
    text-align: center;
    border-color: #000;
}
table.GeneratedTable td {
    text-align: end;
    padding-right: 12px;
}

table.GeneratedTable thead {
  background-color: #ffcc00;
}
.null {
    background-color: #a2a2a2;
    text-align: center;
}

span#calcs {
    background-color: green;
    display: block;
    color: #fff;
    text-align: center;
    width: 90px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
span#calcs:hover {
  background-color: #9ccd1a;
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}


table.infotable {
    border: 1px solid;
}
table.infotable td {
    border: 1px solid;
    text-align: center;
    line-height: 1;
}